
@{
    ViewBag.Title = "xacnhan";
    Layout = "~/Views/Shared/web/_LayoutWeb.cshtml";
}

<div class="container container-240">
    <div class="pd-banner v2">
        <a href="#" class="image-bd effect_img2"><img src="~/images/banner/BG-6.png" alt="" class="img-reponsive"></a>
    </div>
    <div class="e-qa v2">
        <div class="cmt-title v3 text-center abs"><h1 class="oval-bd btn-gradient">HyperGear</h1></div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <p style="text-align:center;font-size:27px;font-weight:bold;">Đơn hàng đã đặt thành công, Cảm ơn Quý Khách!</p>
                </br>
                <p style="text-align:center; font-size:20px;">Nếu quý khách cần theo dõi đơn hàng thì kiểm tra <a href="@Url.Action("TrackOrder","Home", new { id = @Convert.ToInt32(Session["MaKH"])})"  style=" text-decoration: underline;font-weight:bold">tại đây</a>.</p>
            </div>
        </div>
    </div>
</div>

