@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "PageNotFound";
    Layout = "~/Views/Shared/web/_LayoutWeb.cshtml";
}

<div class="container container-240">
    <div class="pd-banner v2">
        <a href="#" class="image-bd effect_img2"><img src="~/images/banner/BG-6.png" alt="" class="img-reponsive"></a>
    </div>
    <ul class="breadcrumb v2">
        <li><a href="#">Home</a></li>
        <li class="active">Eror 404</li>
    </ul>
    <div class="error-page bd-7 text-center">
        <div class="error-img">
            <img src="~/template/web/img/404.png" alt="">
        </div>
        <h3 class="error-title">We are sory, the page you’ve requested is not available</h3>
        <form method="get" class="searchform full" action="/search" role="search">
            <input type="hidden" name="type" value="product">
            <input type="text" name="q" class="form-control" placeholder="Type to search...">
            <span class="input-group-btn">
                <button type="submit" class="button_search"><i class="ion-ios-search-strong"></i></button>
            </span>
        </form>
        <div class="vertical-divider">
            <div class="center-element">or</div>
        </div>
        <a href="@Url.Action("Index","Home")" class="btn-back btn-gradient">Back to homepage<i class="ion-ios-arrow-forward"></i></a>
    </div>
</div>

