USE [HyperGear]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 18/7/2021 13:07:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NULL,
	[Password] [varchar](50) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[Created_at] [datetime] NULL,
	[Created_by] [int] NULL,
	[Updated_at] [datetime] NULL,
	[Updated_by] [int] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_ID] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 18/7/2021 13:07:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[MaDonHang] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[Soluong] [int] NULL,
	[Dongia] [decimal](18, 0) NULL,
	[TongTien] [decimal](18, 0) NULL,
 CONSTRAINT [PK_CTDatHang] PRIMARY KEY CLUSTERED 
(
	[MaDonHang] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 18/7/2021 13:07:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[MaDM] [int] IDENTITY(1,1) NOT NULL,
	[TenDM] [nvarchar](255) NOT NULL,
	[Slug] [nvarchar](max) NOT NULL,
	[Created_at] [datetime] NULL,
	[Created_by] [int] NULL,
	[Updated_at] [datetime] NULL,
	[Updated_by] [int] NULL,
	[Status] [int] NULL,
	[MaMn] [int] NULL,
 CONSTRAINT [PK_DanhMuc] PRIMARY KEY CLUSTERED 
(
	[MaDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonDatHang]    Script Date: 18/7/2021 13:07:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonDatHang](
	[MaDonHang] [int] IDENTITY(1,1) NOT NULL,
	[Dathanhtoan] [bit] NULL,
	[Tinhtranggiaohang] [int] NULL,
	[Ngaydat] [datetime] NULL,
	[Ngaygiao] [datetime] NULL,
	[MaKH] [int] NULL,
	[DeliveryName] [nvarchar](max) NULL,
	[DeliveryPhone] [nvarchar](11) NULL,
	[DeliveryAdd] [nvarchar](max) NULL,
	[DeliveryEmail] [nvarchar](max) NULL,
 CONSTRAINT [PK_DonDH] PRIMARY KEY CLUSTERED 
(
	[MaDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 18/7/2021 13:07:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[Taikhoan] [varchar](100) NULL,
	[Matkhau] [varchar](100) NOT NULL,
	[Email] [varchar](100) NULL,
	[DiachiKH] [nvarchar](200) NULL,
	[DienthoaiKH] [varchar](50) NULL,
	[Ngaysinh] [datetime] NULL,
 CONSTRAINT [PK_Khachhang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LienHe]    Script Date: 18/7/2021 13:07:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LienHe](
	[MaLH] [int] IDENTITY(1,1) NOT NULL,
	[TenCH] [varchar](255) NULL,
	[NoiDung] [ntext] NULL,
	[DienThoai] [varchar](11) NULL,
	[DiaChi] [ntext] NULL,
	[Email] [varchar](100) NULL,
	[Created_at] [datetime] NULL,
	[Created_by] [int] NULL,
	[Updated_at] [datetime] NULL,
	[Updated_by] [int] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_LienHe] PRIMARY KEY CLUSTERED 
(
	[MaLH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 18/7/2021 13:07:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[MaMn] [int] IDENTITY(1,1) NOT NULL,
	[TenMn] [nvarchar](255) NOT NULL,
	[Slug] [nvarchar](max) NOT NULL,
	[Created_at] [datetime] NULL,
	[Created_by] [int] NULL,
	[Updated_at] [datetime] NULL,
	[Updated_by] [int] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[MaMn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 18/7/2021 13:07:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](max) NOT NULL,
	[Gia] [decimal](18, 0) NULL,
	[Slug] [nvarchar](max) NOT NULL,
	[Mota] [ntext] NULL,
	[ChiTiet] [ntext] NULL,
	[Anh] [nvarchar](max) NULL,
	[Ngaycapnhat] [datetime] NULL,
	[Soluongton] [int] NULL,
	[MaDM] [int] NULL,
	[Created_at] [datetime] NULL,
	[Created_by] [int] NULL,
	[Updated_at] [datetime] NULL,
	[Updated_by] [int] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinTuc]    Script Date: 18/7/2021 13:07:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinTuc](
	[MaTT] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](max) NOT NULL,
	[NoiDung] [ntext] NOT NULL,
	[Anh] [nvarchar](max) NULL,
	[Created_at] [datetime] NULL,
	[Created_by] [int] NULL,
	[Updated_at] [datetime] NULL,
	[Updated_by] [int] NULL,
	[Status] [int] NULL,
	[Slug] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_TinTuc] PRIMARY KEY CLUSTERED 
(
	[MaTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([Id], [Username], [Password], [HoTen], [Created_at], [Created_by], [Updated_at], [Updated_by], [Status]) VALUES (1, N'admin', N'THknPu09CV5V0SJPZSSukg==', N'HyperGear', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Admin] ([Id], [Username], [Password], [HoTen], [Created_at], [Created_by], [Updated_at], [Updated_by], [Status]) VALUES (9, N'AdTien', N'i/Qc6bf5Xjvp8vXa1koxbA==', N'Nguyễn Huỳnh Việt Tiến', NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
INSERT [dbo].[ChiTietDonHang] ([MaDonHang], [MaSP], [Soluong], [Dongia], [TongTien]) VALUES (1, 20, 2, CAST(7490000 AS Decimal(18, 0)), CAST(14980000 AS Decimal(18, 0)))
INSERT [dbo].[ChiTietDonHang] ([MaDonHang], [MaSP], [Soluong], [Dongia], [TongTien]) VALUES (2, 21, 2, CAST(2990000 AS Decimal(18, 0)), CAST(5980000 AS Decimal(18, 0)))
GO
SET IDENTITY_INSERT [dbo].[DanhMuc] ON 

INSERT [dbo].[DanhMuc] ([MaDM], [TenDM], [Slug], [Created_at], [Created_by], [Updated_at], [Updated_by], [Status], [MaMn]) VALUES (20, N'Asus', N'asus', CAST(N'2021-07-09T20:58:56.000' AS DateTime), NULL, CAST(N'2021-07-10T22:49:41.637' AS DateTime), NULL, 1, 2)
INSERT [dbo].[DanhMuc] ([MaDM], [TenDM], [Slug], [Created_at], [Created_by], [Updated_at], [Updated_by], [Status], [MaMn]) VALUES (21, N'MSI', N'msi', CAST(N'2021-07-09T20:59:04.467' AS DateTime), NULL, CAST(N'2021-07-09T20:59:04.467' AS DateTime), NULL, 1, 2)
INSERT [dbo].[DanhMuc] ([MaDM], [TenDM], [Slug], [Created_at], [Created_by], [Updated_at], [Updated_by], [Status], [MaMn]) VALUES (22, N'HyperX', N'hyperx', CAST(N'2021-07-09T22:46:23.000' AS DateTime), NULL, CAST(N'2021-07-11T15:46:02.633' AS DateTime), NULL, 1, 3)
SET IDENTITY_INSERT [dbo].[DanhMuc] OFF
GO
SET IDENTITY_INSERT [dbo].[DonDatHang] ON 

INSERT [dbo].[DonDatHang] ([MaDonHang], [Dathanhtoan], [Tinhtranggiaohang], [Ngaydat], [Ngaygiao], [MaKH], [DeliveryName], [DeliveryPhone], [DeliveryAdd], [DeliveryEmail]) VALUES (1, 0, 1, CAST(N'2021-07-16T16:26:39.947' AS DateTime), NULL, 1, N'tien', N'0123456789', N'Tphcm', N'tyowertmwer@gmasil.com')
INSERT [dbo].[DonDatHang] ([MaDonHang], [Dathanhtoan], [Tinhtranggiaohang], [Ngaydat], [Ngaygiao], [MaKH], [DeliveryName], [DeliveryPhone], [DeliveryAdd], [DeliveryEmail]) VALUES (2, 0, 1, CAST(N'2021-07-16T16:42:34.783' AS DateTime), NULL, 1, N'Nguyễn Huỳnh Việt Tiến', N'0123456789', N'TPHCM', N'viettien@nguyenhuynhviettien.name.vn')
SET IDENTITY_INSERT [dbo].[DonDatHang] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [Taikhoan], [Matkhau], [Email], [DiachiKH], [DienthoaiKH], [Ngaysinh]) VALUES (1, N'Nguyễn Huỳnh Việt Tiến', N'tien', N'i/Qc6bf5Xjvp8vXa1koxbA==', N'viettien@nguyenhuynhviettien.name.vn', NULL, N'0123456789', CAST(N'2021-07-12T15:38:27.307' AS DateTime))
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [Taikhoan], [Matkhau], [Email], [DiachiKH], [DienthoaiKH], [Ngaysinh]) VALUES (2, N'Tan', N'tan', N'oDncYr3l+etdMEzkx96OsQ==', N'thanhtan@name.vn', NULL, N'0123987654', CAST(N'2021-07-16T22:01:01.887' AS DateTime))
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [Taikhoan], [Matkhau], [Email], [DiachiKH], [DienthoaiKH], [Ngaysinh]) VALUES (4, N'tan pro haha', N'tanpro', N'oDncYr3l+etdMEzkx96OsQ==', N'tqqqan@gmail.com', NULL, N'123456789', CAST(N'2021-07-17T16:58:50.150' AS DateTime))
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[LienHe] ON 

SET IDENTITY_INSERT [dbo].[LienHe] OFF
GO
SET IDENTITY_INSERT [dbo].[Menu] ON 

INSERT [dbo].[Menu] ([MaMn], [TenMn], [Slug], [Created_at], [Created_by], [Updated_at], [Updated_by], [Status]) VALUES (2, N'Laptop', N'laptop', CAST(N'2021-07-09T20:49:04.047' AS DateTime), NULL, CAST(N'2021-07-09T20:49:04.047' AS DateTime), NULL, 1)
INSERT [dbo].[Menu] ([MaMn], [TenMn], [Slug], [Created_at], [Created_by], [Updated_at], [Updated_by], [Status]) VALUES (3, N'Tai Nghe Gaming', N'tai-nghe-gaming', CAST(N'2021-07-09T21:29:00.213' AS DateTime), NULL, CAST(N'2021-07-09T21:29:00.213' AS DateTime), NULL, 1)
INSERT [dbo].[Menu] ([MaMn], [TenMn], [Slug], [Created_at], [Created_by], [Updated_at], [Updated_by], [Status]) VALUES (4, N'Màn Hình Gaming', N'man-hinh-gaming', CAST(N'2021-07-10T22:41:26.000' AS DateTime), NULL, CAST(N'2021-07-10T22:41:34.870' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[Menu] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([MaSP], [TenSP], [Gia], [Slug], [Mota], [ChiTiet], [Anh], [Ngaycapnhat], [Soluongton], [MaDM], [Created_at], [Created_by], [Updated_at], [Updated_by], [Status]) VALUES (11, N'Laptop ASUS ROG Strix Scar 15 G533QR-HQ098T', CAST(59990000 AS Decimal(18, 0)), N'laptop-asus-rog-strix-scar-15-g533qr-hq098t2411', N'Đang cập nhật', N'Đang cập nhật', N'laptop-asus-rog-strix-scar-15-g533qr-hq098t760.png', NULL, 11, 20, CAST(N'2021-07-09T21:27:38.000' AS DateTime), NULL, CAST(N'2021-07-17T23:07:43.580' AS DateTime), 1, 1)
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [Gia], [Slug], [Mota], [ChiTiet], [Anh], [Ngaycapnhat], [Soluongton], [MaDM], [Created_at], [Created_by], [Updated_at], [Updated_by], [Status]) VALUES (12, N'Laptop Gaming MSI Pulse GL76 11UEK 048VN', CAST(42990000 AS Decimal(18, 0)), N'laptop-gaming-msi-pulse-gl76-11uek-048vn3912', N'Đang cập nhật', N'Đang cập nhật', N'laptop-gaming-msi-pulse-gl76-11uek-048vn720.png', NULL, 11, 21, CAST(N'2021-07-09T21:28:14.000' AS DateTime), NULL, CAST(N'2021-07-17T20:17:52.037' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Admin__536C85E46567919B]    Script Date: 18/7/2021 13:07:59 PM ******/
ALTER TABLE [dbo].[Admin] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__7FB3F64FF0912FA7]    Script Date: 18/7/2021 13:07:59 PM ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[Taikhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__A9D10534B506C152]    Script Date: 18/7/2021 13:07:59 PM ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_Donhang] FOREIGN KEY([MaDonHang])
REFERENCES [dbo].[DonDatHang] ([MaDonHang])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_Donhang]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_SP] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_SP]
GO
ALTER TABLE [dbo].[DanhMuc]  WITH CHECK ADD  CONSTRAINT [Fk_MaMn] FOREIGN KEY([MaMn])
REFERENCES [dbo].[Menu] ([MaMn])
GO
ALTER TABLE [dbo].[DanhMuc] CHECK CONSTRAINT [Fk_MaMn]
GO
ALTER TABLE [dbo].[DonDatHang]  WITH CHECK ADD  CONSTRAINT [FK_Khachhang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[DonDatHang] CHECK CONSTRAINT [FK_Khachhang]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_DanhMuc] FOREIGN KEY([MaDM])
REFERENCES [dbo].[DanhMuc] ([MaDM])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_DanhMuc]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD CHECK  (([Dongia]>=(0)))
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD CHECK  (([Soluong]>(0)))
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD CHECK  (([Gia]>=(0)))
GO
